* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

h1, h2, h3, h4,h5, h6, p, li, a {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

li {
    list-style: none;
}

a{
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
}

a:hover {
    border-bottom: 5px solid purple;
    cursor: pointer;
}

.section {
    margin-top: 55px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-color: rgb(55, 60, 143);
}

.fa-bars {
    font-size: 1.5em;
}


#about li a,
#home li a,
#contact li a {
    color: #1f1f1f;
}


@media screen and (max-width: 900px) {
    .navbar-collapse {
        background-color: white;
        margin: 0 !important;
        padding: 0 !important;
    }

    .container-fluid {
        margin: 0 !important;
        padding: 0 !important;
    }
  
}