.page-heading {
    margin-top: 1em;
    font-size: 6em;
}

.filter-strip {
    margin-top: 6em;
}

.movie-output {
    margin-top: 6em;
}

.btn {
    background-color: black;
    color: white;

    &:hover,
    &:focus {
        background-color: purple;
        color: white;
    }

    &:active {
        background-color: blue;
        color: white;
    }
}

.modal-image {
    width: 50%;
}