@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
}

h1 {
    color: white;
    font-size: 4rem;
    border-bottom: 8px solid #8913ad;
    margin-bottom: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid #8913ad;
    border-radius: 15px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.coffee-item {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    width: 800px;
    justify-content: space-around;
    margin-top: 20px;;
}

#orderTotal {
    display: flex;
    width: 800px;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fa-solid {
    padding: 15px;
    color: white;
    background-color: #1f1f1f;
    border-radius: 15px;
    transition: all .5s ease;
}

.fa-solid:hover {
    background-color: #8913ad;
    transition: all .5s ease;
}

.fa-plus{
    margin-right: 20px;
}

