#htmlValidation {
    margin-bottom: 50px;
}

.parsley-required,
.parsley-min,
.parsley-type,
.parsley-pattern {
    color: red;
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.5em;
}